.album-cover {
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: #fff;
	background-size: cover;
	background-position: center;
}
.img{
	height: 400px;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}
li:hover{
	background-color: #eee;
}

a.ex1:hover,a.ex1:active{
	color: #ce6b93;
}
a.ex2:hover,a.ex2:active{
	color: #6d85b4;
}
a.ex3:hover,a.ex3:active{
	color: #93cee3;
}
a.ex4:hover,a.ex4:active{
	color: #e56e6e;
}
a.ex4:hover,a.ex4:active{
	color: #6ece92;
}
.edit-item{
	width: 380px !important;
	height: 312px !important;
}
.center{
	text-align: center;
	padding: 20px;
}

.item{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.item-1{
	padding: 10px 0px;
	margin: 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

.item-2{
	margin: 0px;
	text-align: center;
}

.button {
	display: inline-block;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    border-color: #333;
    border: 1px solid #333;
    border-radius: 0;
    transition: background-color .2s;
}
button:hover{
	background-color: #28bdb7 !important;
    border: none;
    border-radius: 0;
}

.button-1{
	font-size: 16px;
	color: #fff;
	background-color: #28bdb7;
	border: 1px solid #28bdb7;
}

.icon{
    padding: 10px;
    font-size: 20px;
}
.container-edit{
	max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    padding: 0px !important;
    
    outline: 0;
}
div{
	display: block;
}
.margin-div{
	margin: 0px 15px;
	padding: 0px !important;
}
.border-top{
	border-color: #c4c4c4;
	border-top: 1px;
}
.border-top:before {
	content: "";
    background-color: #c4c4c4;
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.padding-strong{
	margin-bottom: 10px;
    padding: 20px 20px 10px 10px !important;
}
.span{
	width: 200px;
	height: 16px;
}
.padding-bottom{
	padding-bottom: 30px !important;
}
.padding-size{
	padding-bottom:  10px;
}
.padding-i{
	padding-right: 5px;
	font-size: 18px;
}
.ul-li{
	list-style: none;
	padding-left: 0px !important;
}
.ul-li-1{
	padding-top: 10px;
}
.li-padding{
	padding: 10px;
}
.nav{
	padding: 10px 16px 20px 16px;
}