.album-cover {
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: #fff;
	background-size: cover;
	background-position: center;
}
.img{
	height: 400px;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}



.edit-item{
	width: 380px !important;
	height: 312px !important;
}
.center{
	text-align: center;
	padding: 20px;
}

.item{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.item-1{
	padding: 10px 0px;
	margin: 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

.item-2{
	margin: 0px;
	text-align: center;
}

.button {
	display: inline-block;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    border-color: #333;
    border: 1px solid #333;
    border-radius: 0;
    transition: background-color .2s;
}
button:hover{
	background-color: #28bdb7 !important;
    border: none;
    border-radius: 0;
}

.button-1{
	font-size: 16px;
	color: #fff;
	background-color: #28bdb7;
	border: 1px solid #28bdb7;
}